data/features/
data/features_by_dialect/
data/cross_validation/
data/cv_by_dialect/
data/classification_corpus.json
data/classification_corpus_preprocessed.json
data/classification_corpus_HumorRecognitionPT.json
data/preprocessed_puns.json
data/puns.csv

results/models/
results/models_by_dialect/
results/models.zip
results/models_by_dialect.zip
results/editing_clustering.csv

results/predictions/
results/predictions_by_dialect/
